.btn {
  padding: 10px 25px;
  border: solid gray 1px;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  background: transparent;
  font-size: 12px;
  letter-spacing: 0.5px;
  transition: color 0.3s ease-in-out;
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #6a0dad, #8a2be2, #9370db, #4b0082, 
    #0000ff, #4169e1, #4682b4, #6a5acd
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 1; /* Make sure it starts as visible */
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

.btn:active::after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}
